version: '3'
services:
  webserver:
    build: .
    ports:
      - "8081:8081"
    volumes:
    - db_volume:/app/data
    command: /app/start_gunicorn_server.sh
    restart: always

volumes:
  db_volume:
