<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Página de Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="row">
        <div class="columna">
            <h1>Crear Nuevo Usuario</h1>
            <form action="/admin/crear-usuario" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="fechaRegistro">Fecha de Registro:</label>
                <input type="date" id="fechaRegistro" name="fechaRegistro" value="{{ hoy }}" required><br><br>

                <input type="submit" value="Crear Usuario">
            </form>
        </div>
        <div class="columna">
            <!-- Tabla de Usuarios -->
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Fecha de Registro</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.fecha_registro }}</td>
                    <td><a href="/admin/editar-usuario/{{ user.usuario_id }}">Editar</a></td>
                    <td><a href="/admin/borrar-usuario/{{ user.usuario_id }}" onclick="return confirm('¿Estás seguro de querer borrar este usuario?');">Borrar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="columna">
            <h1>Añadir Nuevo Ingrediente</h1>
            <form action="/admin/crear-ingrediente" method="post">
                <label for="nombre">Nombre del Ingrediente:</label>
                <input type="text" id="nombre" name="nombre" required><br><br>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required></textarea><br><br>

                <input type="submit" value="Añadir Ingrediente">
            </form>
        </div>
        <div class="columna">
            <!-- Tabla de Ingredientes -->
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.nombre }}</td>
                    <td>{{ ingredient.descripcion }}</td>
                    <td><a href="/admin/editar-ingrediente/{{ ingredient.ingrediente_id }}">Editar</a></td>
                    <td><a href="/admin/borrar-ingrediente/{{ ingredient.ingrediente_id }}" onclick="return confirm('¿Estás seguro de querer borrar este ingrediente?');">Borrar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <div class="row">
        <div class="columna">
            <h1>Añadir Nuevo Bocadillo</h1>
            <form action="/admin/crear-bocadillo" method="post">
                <label for="nombreBocadillo">Nombre del Bocadillo:</label>
                <input type="text" id="nombreBocadillo" name="nombreBocadillo" required><br><br>

                <label for="ingredientes">Selecciona los Ingredientes:</label>
                <select id="ingredientes" name="ingredientes" multiple required>
                    {% for ingrediente in ingredients %}
                    <option value="{{ ingrediente.ingrediente_id }}">{{ ingrediente.nombre }}</option>
                    {% endfor %}
                </select><br><br>

                <input type="submit" value="Añadir Bocadillo">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="columna">
            <h2>Bocadillos Existentes</h2>
            <table>
                <tr>
                    <th>Nombre del Bocadillo</th>
                    <th>Ingredientes</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
                {% for bocadillo in bocadillos %}
                <tr>
                    <td>{{ bocadillo.nombre }}</td>
                    <td>
                        {% for ingrediente in bocadillo.ingredientes %}
                            {{ ingrediente.nombre }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    
                    <td><a href="/admin/editar-bocadillo/{{ bocadillo.bocadillo_id }}">Editar</a></td>
                    <td><a href="/admin/borrar-bocadillo/{{ bocadillo.bocadillo_id }}" onclick="return confirm('¿Estás seguro de querer borrar este bocadillo?');">Borrar</a></td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>



</body>

</html>