<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <!-- Incluir D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ussageChart.css') }}">

</head>
<body>
    {% include 'navbar.html' %}


    <h1>Perfil de Usuario</h1>

    <!-- Gráfico de uso -->
    <div id="usageChart"></div>
    <script>
        var usageData = {{ usage_data | tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/ussageChart.js') }}"></script>
</body>
</html>
