<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <!-- Incluir D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ussageChart.css') }}">

    <script src="{{ url_for('static', filename='js/ussageChart.js') }}"></script>

</head>

<body>
    {% include 'navbar.html' %}

    <!-- Gráfico de uso -->
    {% for item in usuarios_y_consumo %}
    <h2>Perfil de {{ item.usuario.nombre }}</h2>

    <div id="usageChart{{ item.usuario.usuario_id }}"></div>
    <script>
        var usageData = {{ item.consumo_data | tojson }};
        generateUsageChart(usageData, "#usageChart{{ item.usuario.usuario_id }}");
    </script>
    {% endfor %}

</body>

</html>