/* styles.css */
body {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco para contraste */
}

.navbar {
    overflow: hidden;
    background-color: #212121; /* Gris oscuro */
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2); /* Sombra para dar profundidad */
}

.navbar a {
    float: left;
    display: block;
    color: white; /* Texto blanco para contraste */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s; /* Transición suave al cambiar de color */
}

.navbar a:hover {
    background-color: #0b7dda; /* Un azul un poco más oscuro al pasar el mouse */
}

.content {
    padding: 20px;
    margin-top: 30px; /* Espacio entre el contenido y la navbar */
}

/* Estilos para los formularios */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; /* Texto blanco para contraste */
}

input[type="text"],
input[type="email"],
textarea,
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555; /* Borde más oscuro */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444; /* Gris más oscuro */
    color: #fff; /* Texto blanco para contraste */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: #fff; /* Texto blanco para contraste */
}

th, td {
    border: 1px solid #555; /* Borde más oscuro */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333; /* Gris oscuro */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #555; /* Gris más claro */
}

/* Estilos para la disposición de los elementos */
.row {
    display: flex;
    flex-wrap: wrap;
}

.columna {
    flex: 50%;
    padding: 0 15px;
}
